.mercedec{
    color: white;
    background-color: chartreuse;
}
.nav{
    border-bottom:rgb(245,239,226) 1px solid !important ;
    box-shadow:0 1px 3px 0 #0000001a ;
}
.icon-nav{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color:white;
    background-color: rgb(253,63,43);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.left-nav h3{
    font-size: 24px;
    font-weight: bolder;
    line-height: 20px;
}
.left-nav p{
    font-size: 14px;
}
.right-nav svg{
    cursor: pointer;
    font-size: 22px;
    margin-right: 10px;
}
.right-nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(253,63,43);
    background-color: rgb(74,85,101);
}
.right-nav svg:hover{
    color:rgb(253,63,43);
    transition: 0.1s;
}
/* ///////////////////////////// */
/* /////////////////////////////// */
main{
    background-color: rgb(255,249,235);
    padding: 32px 24px;
}
.Intermediate{
    background-color: rgb(219,252,231);
    color: rgb(0,132,54);
    padding: 5px 15px;
    border-radius: 20px;
    
}
.Asian{
    background-color: rgb(219,234,254);
    color: rgb(20,71,230);
    padding: 5px 15px;
    border-radius: 20px;
}
.Pad-Thai{
    font-size: 36px;
    font-weight: bolder;
}
.right-head svg{
    font-size: 20px;
    padding: 15px;
    color: rgb(245,74,0);
    background-color: rgb(255,237,212);
    border-radius: 10px;
}
.right-ul{
    border: none !important;
    border-color: white;
    box-shadow:0 0 0 0;
    border-bottom: 1px solid rgb(229,231,235) !important;
    padding: 25px;

}
.right-ul button{
   color: black !important;
 font-size: 16px !important;
 border: none;
}
.right-ul button:hover{
    border:none ;
}
.right-ul button:focus{
    border: none;
    border-bottom:3px solid rgb(245,74,0) !important;
    color:  rgb(245,74,0) !important;
}
.right-ul button:focus:hover{
 color: black !important;
}
.tab-content{
    margin-top:0px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
}
.tab-pane{
    background-color: rgb(255,249,235);
}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,105,0);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.Calories{
    padding: 15px;
    color: rgb(245,74,0);
    background-color: rgb(255,237,212);
    border-radius: 15px;
    font-size: 20px;
}
.Nutrition{
    background-color: rgb(249,250,251);
    padding: 15px;
    border-radius: 15px;
}
.fa-dumbbell{
    background-color: rgb(219,234,254);
    color: rgb(21,93,252);
    padding: 15px;
    border-radius: 10px;
}
.fa-wheat-awn{
 padding: 15px;
 border-radius: 10px;
 background-color: rgb(254,249,194);
 color: rgb(208,136,2);
}
.fa-droplet{
    padding: 15px;
    border-radius: 10px;
    background-color:rgb(255,226,226) ;
    color: rgb(231,0,11);
}
.fa-seedling{
    padding: 15px;
    border-radius: 10px;
    color: green;
    background-color: rgb(219,252,231);
}
.fa-cube{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(252,231,243);
    color: rgb(230,0,118);
}
.Chefs-Tips{
    display: flex;
    background-color: rgb(255,251,235);
    padding: 15px;
    border-radius: 20px;
    border-left: 5px solid rgb(255,185,0);
    margin-bottom: 20px;
}
.Chefs-Tips svg{
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    margin:0 10px;
   color: white;
   background-color: rgb(225,113,0);
}
.Chefs-Tips p{
    font-size: 18px;
}
.btn-change{
    width:250px ;
    padding: 2px !important;
    background: linear-gradient(90deg ,rgb(255,101,0),rgb(251,49,51));
    border: 1px solid transparent !important;
    border-radius: 15px !important;
}
.btn-change div{
    display: flex;

}
.img{
    width:100%;
    height:100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position:relative;
}
.top{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 20px;
}
.top svg{
    color: gold;
}
.bottom{
    background-color: white;
    width: 90%;
    left: 52%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 20px;
    border-radius:20px ;
    padding: 20px;
    gap:50px;
}
.fa-clock{
    color: rgb(255,105,0);
    font-size: 25px;
}
.fa-fire-burner{
    font-size: 25px;
    color: rgb(251,44,54);
}
.fa-users{
    font-size: 25px;
    color: rgb(43,127,255);
}
.btt{
  display: flex;
  justify-content: center;
}
.btn-change:hover{
     transform: scale(1.1);
     transition: 0.5s;
}